{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="heb"><b>First Build Showcase</b></h1>
</div>
<h2 class="heb"><b>Discriminator & Generator</b></h2>

<img src="\static\pics\FirstBuildDiscriminator.png" class="img-thumbnail" height="650" width="650">
<img src="\static\pics\FirstBuildGenerator.png" class="img-thumbnail" height="800" width="800">

<div class="container">
    <div class="row3">
        <img src="\static\pics\FirstBuild_e1.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\FirstBuild_e2.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\FirstBuild_e3.png" class="img-thumbnail" height="300" width="300">

    </div>
    <div class="row3">
        <img src="\static\pics\FirstBuild_e4.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\FirstBuild_e5.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\FirstBuild_e6.png" class="img-thumbnail" height="300" width="300">
    </div>
    <div class="row3">
        <img src="\static\pics\FirstBuild_e10.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\FirstBuild_e12.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\FirstBuild_e13.png" class="img-thumbnail" height="300" width="300">
    </div>
</div>
{% endblock %}
                