﻿{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="heb"><b>Generative Adversarial Networks</b></h1>
</div>
<div>
    <h3>12th Grade Machine Learning Final Project </h3>
</div>

<div class="row">
    <h2><b>Creator : Guy Shtiler</b></h2>
    <br />
    <img src="\static\pics\GAN1.png" class="img-thumbnail" height="350" width="350">
    <img src="\static\pics\GAN2.png" class="img-thumbnail" height="350" width="350">
    <br /><br /><br />
    <img src="\static\pics\GANOutput1.png" class="img-thumbnail" height="350" width="350">
    <img src="\static\pics\GANOutput2.png" class="img-thumbnail" height="350" width="350">

    <h3>Mentor : Gad Lidror</h3>

</div>



    {% endblock %}
