{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="heb"><b>Second Build Showcase</b></h1>

</div>
<h2 class="heb"><b>Discriminator & Generator</b></h2>

<img src="\static\pics\SecondBuildDiscriminator.png" class="img-thumbnail" height="650" width="650">
<img src="\static\pics\SecondBuildGenerator.png" class="img-thumbnail" height="800" width="800">

<div class="container">
    <div class="row3">
        <img src="\static\pics\SecondBuild_e1.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\SecondBuild_e2.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\SecondBuild_e3.png" class="img-thumbnail" height="300" width="300">

    </div>
    <div class="row3">
        <img src="\static\pics\SecondBuild_e4.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\SecondBuild_e5.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\SecondBuild_e6.png" class="img-thumbnail" height="300" width="300">
    </div>
    <div class="row3">
        <img src="\static\pics\SecondBuild_e7.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\SecondBuild_e8.png" class="img-thumbnail" height="300" width="300">
        <img src="\static\pics\SecondBuild_e9.png" class="img-thumbnail" height="300" width="300">
    </div>
</div>

{% endblock %}